@import './mixins';
@import './variables';

body {
  &.contact .headerWrapper header ul li a[href*="contact"] {
    &:before {
      width: 99%;
    }
  }
  &.contact .mobileNavWrapper ul li a[href*="contact"] {
    text-decoration: underline
  }
}

.contactWrapper {
  @include flexStart;

  .contactInfo {
    width: 40%;
    margin-right: 5%;
    
    h2 {
      margin-top: 0;

      @media screen and (max-width: $breakpoint-md) {
        text-align: center;
      }
    }
    .wrapInfo {
      margin-top: 3rem;

      h4 {
        text-transform: uppercase;
        margin: 0;
        padding-bottom: .5rem;
      }
      p {
        margin: 0;
      }

      a {
        text-decoration: none;
        color: $textColor;

        &:hover,
        &:focus {
          color: lighten($textColor, 20%);
        }
      } // END a tag
    } // END .wrapInfo

    @media screen and (max-width: $breakpoint-md) {
      width: 100%;
      margin: 0;
    }

    @media screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
      width: 100%;
      margin: 0;
    }
  } // END .contactInfo

  .contactForm {
    width: 60%;
    padding: 0 20px;
    box-sizing: border-box;
    
    h2{
      margin: 0;

      @media screen and (max-width: $breakpoint-md) {
        text-align: center;
      }
    }

    form{
      
      .formBody {
        @include flexStart;
        flex-direction: column;
        width: 100%;

        div {
          width: 100%;

          label{
            visibility: hidden;
          }

          input, textarea {
            width: 100%;
            font-family: $headerFont;
            font-size: 1rem;
            padding: 10px 12px;
            border: 1px solid $textColor;
            box-sizing: border-box;
          }
        }

        div:not(:first-of-type) {
          margin-top: 0rem;
        }

        input[type=submit] {
          width: 100%;
          padding: 15px 30px;
          margin-top: 1rem;
          background-color: $backgroundColor;
          border: 1px solid $textColor;
          font-size: 1rem;
          text-transform: uppercase;
          transition: all .3s ease-in-out;
        }

        input[type=submit]:hover{
          background-color: $textColor;
          color: $backgroundColor;
          cursor: pointer;
        }
      } // END .formBody
    } // END form

    @media screen and (max-width: $breakpoint-md) {
      width: 100%;
      padding: 0;
      margin-top: 5rem;
    }

    @media screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
      width: 100%;
      margin-top: 5rem;
    }
  } // END .contactForm

  @media screen and (max-width: $breakpoint-md) {
    flex-direction: column;
  }

  @media screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
    flex-direction: column;
  }
} // END .contactWrapper