@import './_mixins.scss';
@import './_variables.scss';

body {
  &.fashion .headerWrapper header ul li a[href*="fashion"] {
    &:before {
      width: 99%;
    }
  }
  &.fashion .mobileNavWrapper ul li a[href*="fashion"] {
    text-decoration: underline
  }
}

.fashionWrapper {
  @include flexStart;
  flex-wrap: wrap;

  a {
    width: 30.33%;
    margin: 0 3% 3% 0;

    &:nth-child(4) {
      width: 100%;

      @media screen and (max-width: $breakpoint-md) {
        width: 80%;
      }
      @media screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-xl) {
        order: 8;
        width: 46.33%;
      }
    }

    &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8) {
      width: 22%;

      @media screen and (max-width: $breakpoint-md) {
        width: 80%;
        margin: 0 0 3% 0;
      }

      @media screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-xl) {
        width: 46.33%;
      }
    }
    
    @media screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-xl) {
      width: 46.33%;
    }
  } // END a tag bracket
  
  @media screen and (max-width: $breakpoint-md) {
    flex-direction: column;
    align-items: center;
  }
} // END .fashionWrapper bracket