@import './mixins';
@import './variables';

body {
  &.landscape .headerWrapper header ul li a[href*="landscape"] {
    &:before {
      width: 99%;
    }
  }
  &.landscape .mobileNavWrapper ul li a[href*="landscape"] {
    text-decoration: underline
  }
}

.landscapeWrapper {
  @include flexStart;
  flex-wrap: wrap;

  a{
    width: 30.33%;
    margin: 0 3% 0 0;

    &:nth-child(3n+2) {
      margin-top: 7%;
      margin-bottom: 0;
    }
    
    &:nth-child(3n+3) {
      margin-top: 2%;
      margin-bottom: 0;

    }

    @media screen and (max-width: $breakpoint-md) {
      margin: 0;
      padding-top: 0;
    }

    @media screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-xl) {
      &:nth-child(3n+2) {
        margin-top: 0;
        margin-bottom: 0;
      }
      
      &:nth-child(3n+3) {
        margin-top: 0;
        margin-bottom: 0;
  
      }
    }
  } // END a tag
  
  &:last-of-type {
    padding-top: 50px;

    @media screen and (max-width: $breakpoint-md) {
      padding-top: 0;
    }
  }

  @media screen and (max-width: $breakpoint-md) {
    flex-direction: column;
    align-items: center;
  }
} // END .landscapeWrapper