@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,700;1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap');
@import url('../../node_modules/lightbox2/dist/css/lightbox.css');
@import './mixins';
@import './variables';

.hidden {
  display: none;
}

.scrollLock {
  margin: 0;
  height: 100%;
  overflow: hidden
}

body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: $bodyFont;
  font-size: 16px;
  line-height: 1.5;
  background-color: $backgroundColor;
  color: $textColor;
  padding-left: 329.19px;
  scroll-behavior: smooth;
  
  &.street .headerWrapper header ul li a[href*="index"]{
    &:before {
      width: 99%;
    }
  }

  &::-webkit-scrollbar {
    width: 12px;

    &-track {
      background: $backgroundColor;
    }

    &-thumb {
      background: #888;
      border-radius: 6px;
      border: 2px solid white;

      &:hover {
        background: #777;
      }
    }
  } // END scrollbar bracket

  @media screen and (max-width: $breakpoint-md) {
    padding-left: 0px;
    padding-top: 4rem;
  }
} // END body bracket

.headerWrapper {
  position: fixed;
  top: 0;
  left: 0;

  header {
    height: 100vh;
    background-color: $backgroundColor;
    padding: 3rem 40px;

    h1.pageName {
      font-size: 2.5rem;
      text-align: center;
      margin-bottom: 3rem;
      font-family: $headerFont;
      font-weight: 700;

      a {
        text-decoration: none;
        color: $textColor;
        transition: all .3s;

        &:hover {
          color: lighten($textColor, 20%);
        }
        
        &:focus-visible {
          outline: 0;
        }
      } // END a tag bracket
      
      @media screen and (max-width: $breakpoint-md){
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
    } // END .pageName bracket

    ul.menu {
      display: flex;
      flex-direction: column;
      @include resetList;

      
      li {
        padding: 0 0 25px 0;

        a {
          @include borderSlideLink;
          font-size: 1.1rem;
          letter-spacing: 0.04rem;
          color: lighten($textColor, 20%);

          &:before {
            @include borderSlideLinkBefore;
          }

          &:hover,
          &:focus {
            &:before {
              width: 99%;
            }
          }
        }
      }

    } // END ul.menu bracket

    ul.social {
      display: flex;
      list-style-type: none;
      margin: 2rem 0 3rem 0;
      padding: 0;
      text-align: center;

      li {
        &:not(:last-of-type){
          margin-right: 1rem;
        }

        a {
          * {
            color: $textColor;
            transition: all 300ms ease-in-out;
            font-size: 1.1rem;
          }

          &:hover {
            * {
              color: lighten($textColor, 20%);
            }
          }
        }
      } // END li bracket

    } // END ul.social bracket

    .copyright {
      font-size: 0.75rem;
      font-family: $bodyFont;
    }

    @media screen and (max-width: $breakpoint-md){
      display: none;
    }
  } // END .header bracket

} // END .headerWrapper bracket

.mainContent {
  // background-color: #c8a62a;
  background-color: $backgroundColor;
  padding: 4.5rem 0px 0px 0px;
  box-sizing: border-box;

  .wrapper {
    padding: 20px;

    div.galleryPhoto {
      @include flexCenter;
      flex-wrap: wrap;
    }

    a {
      width: 30.33%;
      margin: 0 3% 3% 0;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
        transition: all .3s ease-in-out;

        &:hover{
          transform: scale(1.015);
        }
      }
      
      @media screen and (max-width: $breakpoint-md){
        width: 100%;
        margin: 0 0 3% 0;
      }

      @media screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-xl) {
        width: 46.33%;
      }
    } // END a tag

    @media screen and (max-width: $breakpoint-md){
      padding: 0;
    }
  } // END .wrapper bracket
  
  @media screen and (max-width: $breakpoint-md){
    width: 100%;
    padding: 10px;
    margin-top: 2rem;
  }
} // END .mainContent bracket


